@charset "UTF-8";
.header-logo-menu {
  display: none;
}
/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
} */
.btn  {
  text-decoration: none;
  transition: all  0.3s ;
}
.btn:hover {
  color: #333;
}

.wrapper {
  width: auto;
  margin: 0 auto;
  font-family: "Lato";
}
.iphone_zone_text h2,.our_text {
  font-family: "Raleway";
}
.inner {
  width: 1100px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.header {
  padding: 15px 0;
  z-index: 999;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  background-color: white;
}
.header-inner {
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.bolt_icon {
  color: #333;
  font-size: 32px;
  padding-left: ;
}

.contact {
  padding: 14px 15px;
  color: #fff;
  font-size: 12px;
  background-color: #74cfae	;
}
/* -----header------------------- */
.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.theme_message {
  color: #74cfae	;
  font-size: 90px;
  font-weight: 700;
  font-family: "Raleway";
}
.theme_text {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}
/* --------theme-------------------- */
.iphone_zone {
  background-color: #74cfae;
  padding-top: 50px;
}
.iphone_zone_contents {
  display: flex;
  justify-content: space-around;
}
.iphone {
  height: 300px;
  padding-left: 100px;
}
.iphone_zone_text {
  color:white; 
  width: auto;
  margin: 0 100px;
  margin-top: 10px;
}
.iphone_zone_text h2 {
  font-size: 24px;
}
.iphone_zone_text p {
  margin-top: 35px;
  font-size: 20px;
  
}
/* ----------our----------- */
.article_our {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.our_text {
  font-size: 24px;
  color: #333;
}
.our_contents {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start; */
  
}
.our_img {
  margin-left: 100px;
  margin-top: 80px;
  transition: all .3s;
  opacity: 0.7;
  /* width: 300px; */
  /* height: 300px; */
}
.our_img:hover {
  opacity: 1;
}

.our_img:nth-child(-n+3) {
  margin-top: 0;
}
.our_img:nth-child(3n+1) {
  margin-left: 0;
}

.our_foot {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}
.our_foot_text {
  width: 640px;
}
.our_email {
  color: #fff;
  font-size: 12px;
  background-color: #74cfae	;
  padding: 14px 20px;
  margin-left: 90px;
  display: inline-block;
}
/* ---------skill------------ */

.skill {
  background-color: #4e4e4e;
  color: white;
  padding-top: 70px;
  padding-bottom: 100px;
}
.main {
  padding-top: 62px;
}
.skill_title {
  font-family: "Raleway";
  font-size: 24px;
}
.skills_wrap {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.skill_box:first-child {
  margin-left: 0;
}
.skill_box {
  margin-left: 180px;
}
.skill_box img {
  height: 120px;
  width: 120px;
}
.skill_box p {
  font-size: 16px;
  margin-top: 10px;
}
/* ----------sns------------- */
.sns {
  background-color: #f2f2f2;
  padding:200px 0;
}
.sns_box {
  display: flex;
  justify-content: center;
}
.sns_box a {
  color: #74cfae;
  text-decoration: none;
  width: 185px;
  padding: 30px 0;
  font-size: 50px;
  transition: all  0.3s ;
}
.sns_box a:hover {
  background-color: #fff;
}
/* ---------footer-------- */
.footer {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #74cfae;
}
.footer_inner {
  text-align: right;
}

.foot_message {
  color: #f2f2f2f2;
}
/* ---外ノットーーー */
/* .our_img:not(:first-child) {
  margin-top: 0;
} */
/* ------メディアクエリTABーーーーーー */
@media screen and (max-width:1199px)and (min-width:768px ) {
  .inner {
    width: 97%;
  }
  /* -----header------ */
  .bolt_icon {
    font-size: 35px;
  }
  /* ----section iphon--- */
  .iphone_zone {
    padding-top: 50px;
    padding-bottom: 25px;
  }
	.iphone_zone_contents {
    display: block;
  }
  .iphone {
    padding-left: 0;
  }
  .iphone_zone_text {
    margin: 0 10px;
    width: auto;
    margin-top: 20px;
  }
  .iphone_zone_text h2 {
    margin-top: 0;
    padding-top: 0;
  }
  .iphone_zone_text p {
    margin-top: 25px;
    /* height: 70px; */
    word-break: break-all;
  }

  /* -----our------ */
  .article_our {
    padding-top: 60px;
    padding-bottom: 70px;
  }
	.our_contents {
    margin-top: 40px;
    flex-wrap: nowrap;
    flex-direction: column;
    width: auto;
  }
  .our_img {
    margin-top: 0;
    margin-left: 0;
  }

  .our_img:first-of-type {
    margin-top: 0 !important;
  }
  .our_img:nth-child(3n+1) {
    margin-top: 100px;
    margin-left: 0;
  } 
  .our_foot {
    margin-top: 80px;
    display: block;
  }
  .our_foot_text {
    width: 100%;
    /* margin-bottom: 40px; */
  }  
  .our_email {
    margin-left: 0;
    /* ↓なぜか聞かない */
    margin-top: 40px;
    padding: 15px 30px;

  }
  /* ------SKILL------ */
  
  .skills_wrap {
    flex-direction: column;
    align-items: center;
  }
  .skill_box {
    margin-left: 0;
    margin-top: 88px;
  }
  .skill_box:first-child {
    margin-top: 0;
  }
}
/* ---------メディアクエリsp-------- */


@media screen and (max-width:767px) {
  .main {
    padding-top: 94px;
  }
  .inner {
    width: 97%;
  }
  
  .bolt_icon {
    font-size: 4em;
  }
  .contact_wrap {
    display: none;
  }
  /* -----ハンバーガー */
  
  #nav-drawer {
    position: relative;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }
  
  /*ハンバーガーの形をCSSで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 4px;
    background: #ddd;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  
  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
  .header-logo-menu {
   display: flex;
   display: -moz-flex;
   display: -o-flex;
   display: -webkit-flex;
   display: -ms-flex;
   flex-direction: row;
   -moz-flex-direction: row;
   -o-flex-direction: row;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
  }
  /* -----ハンバーガーーーーーー */
/* -------them------ */
  .theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  .theme_message {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 80px;
  }
  .theme_text {
    margin-top: 20px;
    font-size: 30px;
  }

  /* -----section iphone------- */

  .iphone_zone {
    background-color: #74cfae;
    padding-bottom: 35px;
  }
  .iphone {
    padding-left: 0;
  }
  .iphone_zone_contents {
    display: block;
  }
  .iphone_zone_text {
    width: 100%; 
    text-align: center;    
    margin: 0 5px;
  }
  .iphone_zone_text h2 {
    margin-top: 20px;
  }
  /* ----our----- */
	.our_contents {
    margin-top: 30px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .our_img {
    margin-top: 0;
    margin-left: 0;
  }
  .our_img:first-of-type {
    margin-top: 0 !important;
  }
  .our_img:nth-child(3n+1) {
    margin-top: 100px;
    margin-left: 0;
  } 
  .our_foot {
    display: block;
    margin-top: 50px; 
  }
  .our_foot p {
    width: auto;
    margin-bottom: 50px;
  }
  .our_foot_text {
    padding-right: 0;
  }  
  .our_email {
    margin-left: 0;
  }
 /* ----SKILL------------- */
 .skill {
   padding: 100px 0;
 }
 .skill_title {
   font-size: 50px;
 }
 .skills_wrap {
  display: block;
}
.skill_box img {
  width: auto;
  height: auto;
}
.skill_box p {
  margin-top: 10px;
}
.skill_box {
  margin: 0;
  margin-top: 100px;
}
.skill_box:first-child {
  margin-top: 0;
}
/* -------nav------------ */
.sns {
  padding-top: 50px;
  padding-bottom: 100px;
}
.sns_box {
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
}
.sns_box a {
  width:100%;
  padding: 50px 0;
}
/* ----footer------- */
.foot_message {
  margin-right: 5px;
}
}