@charset "UTF-8";
.header-logo-menu {
  display: none;
}
.btn  {
  text-decoration: none;
  transition: all  0.3s ;
}
.btn:hover {
  color: #333;
}

.wrapper{
  width: auto;
  margin: 0 auto;
  font-family: "Lato";
}
.inner{
  width: 1100px;
  text-align: center;
  margin: 0 auto;
}
.header{
  z-index: 999;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  background-color: white;
}
.header-inner {
  width: 1100px;
}
.header_wrap {
}
.bolt_icon  {
  float: left;
  color: #333;
  padding:15px 0 ;
  font-size: 32px;
  padding-left: ;
}
.contact_wrap  {
 padding: 20px 0;
 float: right;
}
.contact  {
  padding: 14px 15px;
  color: #fff;
  font-size: 12px;
  background-color: #74cfae	;
}
/* -----header------------------- */
.them {
  background-color: #f2f2f2;
}

.them_message{
  padding-top: 250px;
  padding-bottom: 20px;
  color: #74cfae	;
  font-size: 90px;
  font-weight: 700;
}
.them_text  {
  font-family: "Lato";
  padding-bottom: 250px;
  font-size: 30px;
  color: #c0c0c0;
}
/* --------theme-------------------- */
.section  {
  background-color: #74cfae;
  padding-top: 50px;
}
.section_contents  {
  display: flex;
  justify-content: space-around;
}
.iphone {
  height: 300px;
  /* padding-top: 50px; */
  padding-left: 100px;
}
.section_texetes {
  color:white; 
  width: auto;
  padding-right: 100px;
  padding-left: 100px; 
  text-align: center;    
}
.section_texetes h2 {
  font-family: "Raleway";
  padding-top: 60px;
  padding-bottom: 35px;
  font-size: 24px;
}
.section_texetes p{
  font-size: 20px;
  
}
/* ----------our----------- */
.article_our  {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px;
}

.our_text {
  font-family: "Raleway";
  font-size: 24px;
  color: #333;
  /* padding-top: 60px; */
  /* padding-bottom: 40px; */
}
.our_contents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 90px;
  padding-top: 40px;
  width: 1100px;
  height: 700px;
  margin: auto;
}
.our_img  {
  transition: all .3s;
  opacity: 0.7;
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-bottom: 80px; 
}
.our_img:hover {
  opacity: 0.3;
}
.our01,.our04 {
  margin-left: 0;
}
.our04,.our05,.our06  {
  margin-bottom: 0;
}
/* .our_contents:nth-of-type(4)  {
  padding-left: 0;
}
.our_contents:nth-last-of-type(3) {
  padding-bottom: 0;
} */
.our_foot {
  color: #333;
  /* padding-top: 90px; */
  /* padding-bottom: 70px; */
  display: flex;
  justify-content: center;
}
.our_foot_text  {
  width: 640px;
  height: 40px;
  padding-right: 80px;
}
.our_email  {
  color: #fff;
  font-size: 12px;
  background-color: #74cfae	;
  padding: 14px 20px;
}
/* ---------skill------------ */

.skill  {
  background-color: #333;
  color: white;
  padding-top: 70px;
  padding-bottom: 100px;
}
.main {
  padding-top: 62px;
}
.skill_title  {
  font-family: "Raleway";
  font-size: 24px;
  /* padding-top: 70px; */
  padding-bottom: 50px;
}
.skills_wrap  {
  display: flex;
  justify-content: center;
}
.skill_box:first-child  {
  margin-left: 0;
}
.skill_box  {
  margin-left: 180px;
  /* padding-bottom: 100px; */
}
.skill_box img  {
  height: 120px;
  width: 120px;
}
.skill_box p  {
  font-size: 16px;
  padding-top: 10px;
}
/* ----------sns------------- */
.sns  {
  background-color: #f2f2f2;
}
.sns_wrap {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.sns_box {
  width: 185px;
  height: 110px;
  padding-top: 30px;
  font-size: 70px;
  transition: all  0.3s ;
}
.sns_box a {
  color: #74cfae;
  text-decoration: none;
}
.sns_box:hover {
  background-color: #fff;
}
/* ---------footer-------- */
.footer {
  /* width: 100%; */
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #74cfae;
}
.foot_box {
  float: right;
  color: #f2f2f2f2;
  padding-right:170px;
}

/* ------メディアクエリTABーーーーーー */
@media screen and (max-width:1199px)and (min-width:768px ) {
  .inner {
    width: 97%;
  }
  /* -----header------ */
  .bolt_icon {
    font-size: 35px;
  }
  .contact {
    /* padding: 15px 30px; */
    /* font-size: 20px; */
  }
  .contact_wrap{
    justify-content: space-between;
  }
  /* ----section iphon--- */
  
	.section_contents {
    display: block;
  }
  .iphone {
    padding-left: 0;
    padding-bottom: 20px;
  }
  .section_texetes {
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    margin: auto;
  }
  .section_texetes h2 {
    padding-top: 0;
    padding-bottom: 25px;
  }
  .section_texetes p{
    height: 70px;
    padding-bottom: 25px;
    word-break: break-all;
  }

  /* -----our------ */
  .our_text {
    font-size: 36px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
	.our_contents{
    flex-wrap: nowrap;
    flex-direction: column;
    width: auto;
    height: 40%;
  }
  .our_img  {
    margin: auto;
  }
  .our_img:nth-child(4) {
    margin-top: 80px;
  }
  .our_foot {
    display: block;
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .our_foot_text {
    margin: auto;
    width: 100%;
    margin-bottom: 40px;
  }  
  .our_email {
    padding: 15px 30px;
    font-size: 20px;
  }
  /* ------SKILL------ */
  
  .skills_wrap {
    flex-direction: column;
    align-items: center;
  }
  .skill_box {
    margin-left: 0;
    padding-bottom: 88px;
  }
  .skill_box:last-child {
    margin-bottom: 0;
  }
}
/* ---------メディアクエリsp-------- */


@media screen and (max-width:767px) {
  .wrapper  {
    overflow: hidden;
    /* margin: auto; */
  }
  .main {
    padding-top: 94px;
  }
  .inner {
    width: 97%;
  }
  .header{
  }
  .header_wrap {
   display: flex;
   justify-content: space-between;
  }
  .bolt_icon  {
    font-size: 4em;
  }
  .contact  {
    display: none;
  }
  /* -----ハンバーガー */
  
  #nav-drawer {
    position: relative;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    margin-top: 30px;
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
  }
  
  /*ハンバーガーの形をCSSで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 4px;
    background: #ddd;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒箇所*/
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }
  
  /*メニューの中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 90%;
    max-width: 330px;/*最大幅（お好みで調整を）*/
    height: 100%;
    background: #fff;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
  }
  
  /*チェックがついたら表示させる*/
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
  .header-logo-menu{
   display: flex;
   display: -moz-flex;
   display: -o-flex;
   display: -webkit-flex;
   display: -ms-flex;
   flex-direction: row;
   -moz-flex-direction: row;
   -o-flex-direction: row;
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
  }
  /* -----ハンバーガーーーーーー */
/* -------them------ */
  .them_message{
    padding-top: 160px;
    padding-bottom: 20px;
    font-size: 80px;
  }
  .them_text  {
    padding-bottom: 130px;
    line-height: 50px;
  }

  /* -----section------- */

  .section  {
    background-color: #74cfae;
  }
  .iphone {
    padding-left: 0;
  }
  .section_contents  {
    display: block;
  }
  .section_texetes {
    width: 100%; 
    text-align: center;    
    padding-left: 0;
  }
  .section_texetes h2 {
    padding-top: 20px;
  }
  .section_texetes p {
    padding-bottom: 35px;
  }
  /* ----our----- */
  .article_our{
    
  }
  .our_text {
    font-size: 30px;
  }
	.our_contents{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40%;
  }
  .our_img  {
    margin: auto;
    height: auto;
    width: 100%;
  }
  .our_img:nth-child(4) {
    margin-top: 100px;
  }
  .our_foot {
    display: block;
  }
  .our_foot_text {
    padding-right: 0;
    margin: auto;
    max-width: 100%;
    margin-bottom: 100px;
  }  
 /* ----SKILL------------- */
 
 .skill_title {
   font-size: 50px;
 }
 .skills_wrap  {
  display: block;
}
.skill_box img {
  width: auto;
  height: auto;
}
.skill_box p {
  font-size: 25px;
  margin-top: 10px;
}
.skill_box {
  margin: 0;
}
.skill_box  {
  padding-bottom: 100px;
}
/* -------nav------------ */

.sns_wrap {
  display: block;
  padding-top: 50px;
  padding-bottom: 100px;
}
.sns_box {
  margin: auto;
  /* margin-left: 15px;
  margin-right: 15px; */
  width:100%;
}
/* ----footer------- */
.foot_box {
  width: 420px;
  font-size: 20px;
  padding-right:20px;
}